@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
    height: 60px;
    color: white;
    background-color: #1F2937;
}

 #button-array{
    float: right;
}

#branding {
    padding: 20px 20px 20px 20px;
    float: left;
    
}
